@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
* {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}